include README.rst CHANGELOG.rst MANIFEST.in LICENSE
recursive-include sanic_restplus *

prune sanic_restplus/static/bower

recursive-include sanic_restplus/static/bower/swagger-ui/dist *

global-exclude *.pyc
